.input {
    display: none;
}
.upload-conteiner{
    display: block;
    background-color: #0d47a1; /* Sua cor aqui */
    color: #ffffff;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer ;
}
/* Div/Caixa colorida clicável */
.upload-btn {
    display: block;
    background-color: #0d47a1; /* Sua cor aqui */
    color: #ffffff;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}


.upload-btn:hover {
    background-color: #093170; /* Cor ao passar o mouse */
}