<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Inscrição</title>

    <link rel="stylesheet" href="./employees/employees.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./employees/employees.js" defer></script>
</head>

<body>

    <header class="heder-name">
        <div class="content">
            <h1>Formulário de Inscrição</h1>
        </div>
    </header>

    <div class="coneiner">

        <div class="box-doc">
            <h3>Documentos Enviados:</h3>

            <div class="arqv">
                <button id="img1b" type="button">Histórico escolar</button>
                <nav id="img1" class="img">
                    <div id="docHist_container"><p>Nenhum documento carregado.</p></div>
                </nav>
            </div>

            <div class="arqv">
                <button id="img2b" type="button">Certidão de Nascimento</button>
                <nav id="img2" class="img">
                    <div id="docCert_container"><p>Nenhum documento carregado.</p></div>
                </nav>
            </div>

            <div class="arqv">
                <button id="img3b" type="button">RG e CPF</button>
                <nav id="img3" class="img">
                    <div id="docRG_container"><p>Nenhum documento carregado.</p></div>
                </nav>
            </div>

            <div class="arqv">
                <button id="img4b" type="button">RG e CPF do(a) responsável</button>
                <nav id="img4" class="img">
                    <div id="docRGR_container"><p>Nenhum documento carregado.</p></div>
                </nav>
            </div>

            <div class="arqv">
                <button id="img5b" type="button">Declaração de Vacinação</button>
                <nav id="img5" class="img">
                    <div id="docVac_container"><p>Nenhum documento carregado.</p></div>
                </nav>
            </div>

            <div class="arqv">
                <button id="img6b" type="button">Conta de luz</button>
                <nav id="img6" class="img">
                    <div id="docLuz_container"><p>Nenhum documento carregado.</p></div>
                </nav>
            </div>

            <div class="arqv">
                <button id="img7b" type="button">Número do Cartão NIS</button>
                <nav id="img7" class="img">
                    <div id="docNis_container"><p>Nenhum documento carregado.</p></div>
                </nav>
            </div>
        </div>

        <div class="box-tabela">
            <div class="selecao-participante"> 
                <div class="card-box">
                    <h2>Tabela de Avaliação e Pontuação</h2>
                    
                    <label for="partici">Selecione o aluno:</label>
                    <select id="partici" name="course"></select>
                  
                    <div class="data">
                        <div class="dados-header">
                            <div class="titulo-ficha">
                                II – FICHA DE PONTUAÇÃO PARA CURSOS INTEGRADOS AO ENSINO MÉDIO E FORMAÇÃO DE DOCENTES
                            </div>
                            
                            <div class="inscription">
                                <label for="ni">NÚMERO DA INSCRIÇÃO:</label>
                                <input type="text" id="ni">
                            </div>

                            <div class="htable">
                                <div class="name">
                                    <label for="name">NOME:</label>
                                    <input type="text" id="name" readonly>
                                    
                                    <label for="lastname">SOBRENOME:</label>
                                    <input type="text" id="lastname" readonly> 
                                </div>   
                                
                                <div class="cgm">
                                    <label for="cgm">CGM:</label>
                                    <input type="text" id="cgm" readonly>
                                </div>
                                
                                <div class="course">
                                    <label for="cs">CURSO:</label>
                                    <input type="text" id="cs" readonly>

                                    <label for="tu">TURNO:</label>
                                    <input type="text" id="tu" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table">
                        <table class="nttable">
                            <thead>
                                <tr>
                                    <th rowspan="2">Disciplinas</th>
                                    <th colspan="4">Médias Anuais</th>
                                    <th rowspan="2">Média Aritmética<br>(6º ao 9º Ano)</th>
                                </tr>
                                <tr>
                                    <th>6º Ano</th>
                                    <th>7º Ano</th>
                                    <th>8º Ano</th>
                                    <th>9º Ano</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Língua Portuguesa</strong></td>
                                    <td><input type="number" id="pa6" min="0" max="100" placeholder="0-100"></td>
                                    <td><input type="number" id="pa7" min="0" max="100" placeholder="0-100"></td>
                                    <td><input type="number" id="pa8" min="0" max="100" placeholder="0-100"></td>
                                    <td><input type="number" id="pa9" min="0" max="100" placeholder="0-100"></td>
                                    <td><input type="number" id="mediP" readonly placeholder="Média"></td>
                                </tr>
                                <tr>
                                    <td><strong>Matemática</strong></td>
                                    <td><input type="number" id="ma6" min="0" max="100" placeholder="0-100"></td>
                                    <td><input type="number" id="ma7" min="0" max="100" placeholder="0-100"></td>
                                    <td><input type="number" id="ma8" min="0" max="100" placeholder="0-100"></td>
                                    <td><input type="number" id="ma9" min="0" max="100" placeholder="0-100"></td>
                                    <td><input type="number" id="mediM" readonly placeholder="Média"></td>
                                </tr>
                                <tr class="highlight-row">
                                    <td colspan="4"><strong>Média Aritmética das Disciplinas – Final (0-100)</strong></td>
                                    <td colspan="2">
                                        <input type="number" id="mf" readonly placeholder="Média Final">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"><strong>Pontuação de Beneficiário + Origem Escolar</strong></td>
                                    <td colspan="2"><input id="benefic" type="number" readonly placeholder="Pontos"></td>
                                </tr>
                                <tr>
                                    <td colspan="4"><strong>Entrevista (quando aplicada) – Valor de 0 a 100</strong></td>
                                    <td colspan="2"><input id="inpt_entrv" type="number" min="0" max="100" placeholder="0-100"></td>
                                </tr>
                                <tr class="total-row">
                                    <td colspan="4"><strong>TOTAL GERAL DA PONTUAÇÃO</strong></td>
                                    <td colspan="2"><input id="total" type="number" readonly placeholder="Total"></td>
                                    
                                </tr>
                                 
                            </tbody>
                        </table>
                        <div class="btn">
                        <button type="button" class="btn1" onclick="calculate()">Salvar</button>
                        <button type="button"  class="btn2"onclick="calculate()">Calcular</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="footer1">
        <div class="content">
            <h2>COLÉGIO ESTADUAL LEONARDO DA VINCI</h2>
            <p>
                Ensino Fundamental, Médio, Normal e Profissional<br>
                Av. Salgado Filho, 175 - Centro Sul Fone (46)3536-2334<br>
                e-mail: dvzleonardodavinci@seed.pr.gov.br<br>
                CEP 85.660-000 — DOIS VIZINHOS — PARANÁ
            </p>
        </div>
    </footer>

</body>
</html>